.hl-bodysec{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    padding-top: 100px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 30px);
}

@include tablet{
    .hl-bodysec{
        min-height: unset;
        padding-top: 60px;
    }
}
@include mobile{
    .hl-bodysec{
        padding-top: 60px;
        min-height: unset;
    }
}